#! /usr/bin/env/ python

#see https://www.mediawiki.org/wiki/OAuth/Owner-only_consumers

consumer_key = "your consumer key"
consumer_secret = "your consumer secret"
access_key = "your access key"
access_secret = "your access secret"